/* (*)this means all elements on my html removes default margin and padding */
* {   
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*padding and border are included in the width and height */
    font-family: 'Georgia', serif;       /*this sets all fonts inside my webpage into Georgia and serif for fallback */
    scroll-behavior: smooth; /*this makes the nav bar scroll smooth not just directly going to the specific section of the webpage */
}

body {
    display: flex;
    flex-direction: column;  /*this will stack my contents (header,main.footer) vertically */
    min-height: 100vh; /* This will make the body fill full viewport height */
}

.nav-wrap {
    position: fixed;          /*this sets my nav-bar fixed even if the user scroll down the webpage */
    top: 0;                 /*sticks my nav contents at the top and left of my webpage. */ 
    left: 0;
    z-index: 1001;          /*this ensures that nav-wrap is above nav-bar to activate the hover effect */
    width:100%;         /*this is to make the element as big as its parent */
    background-color: transparent;    /*to remove bg color at start */
    transition: background-color 0.3s;   
    color: black;
}

.nav-wrap.scrolled {
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-wrap.scrolled .nav-right a,
.nav-wrap.scrolled .nav-center h1 a {
    color: black;
}

.nav-wrap:hover {
    background-color: rgba(255, 255, 255, 0.733);        /*this changes the bg color and text color when the user hovers over it */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);         /*this makes the nav-bar mor layered */
    color: black;    
}

.nav-wrap:hover .nav-right a {
    color: black;
}

.nav-wrap:hover .nav-center h1 a {
    color: black;
}

.nav-bar {
    width:100%;         /*this is to make the element as big as its parent */
    max-width: 1200px;  /*this set the max width of the element */
    margin: 0 auto;     /*this makes the top n bottom margin 0 while left and right auto (center) */
    padding: 10px;
    display: flex;      /*this makes the nav bar content side by side */
    justify-content: space-between;       /*this adds space in between of the contents of nav-bar */
    align-items: center;                /*this puts the contents centered */                   
    z-index: 1000;        /*this keep the navbar above the dark overlay */
}

#logo {
    height: 50px;
    width: auto;
}

.nav-left img {
    border-right: 3px solid black;     /*this adds a line beside the image to make it look professionally separated to other contents of the nav-bar */
    padding-right: 35px;              /*this adds a space between the line and the logo */
}

.nav-center h1 a {
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.nav-right a {
    border-left: 3px solid rgba(0, 0, 0, 0.911);     /*this also adds a line beside the links */
    padding-left: 18px;
    color: rgb(0, 0, 0);
    text-decoration: none;          /*this removes the underline from the links */
    margin-right: 20px;
    font-size: 17px;
    font-weight: bold;             /*this makes the text thick */
}

.nav-right a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;       /*this creates a space between the text and the underline */
    text-decoration-thickness: 2px;
}

.main {
    background-color:rgb(231, 231, 231);
    flex: 1; /*this will take up all the remaining space so it will push the footer at the bottom */
}

.about-us {
    padding-top: 90px;   /*this is to add space so the nav bar will not cover it*/
    margin-left: 40px;
    line-height: 1.5;
    width: 80%;
}

.about-us h2 {
    margin-bottom: 15px;
}

.about-us p {
    margin-left: 40px;
    font-size: 17px;
}

.about-us-container {
    overflow: hidden;
    margin-left: 40px;
    width: 90%;
    line-height: 1.5;
    padding-top: 20px;
}

.about-us-container img {
    opacity: 0;
    width: 30%;
    float: right; /*this is to make the image and text side by side */
    transition: opacity 0.3s ease;    /*this is for smooth transitioning of the opacity of the images */
}

.about-us-container img.scrolled {   
    opacity: 1;
    transition: opacity 0.3s ease;
}

.about-us-container ul {
    margin-left: 40px; 
    margin-top: 10px;
}

.about-us-container ul li {
    list-style-type: disc;   /*this tells my browser to use regular bullet points */
    line-height: 3;
}

.about-us-2nd {
    margin-top: 20px;
}

#watch {
    border-top: solid black 1px;    /*to add a line at the top to make it look better */
    color: rgba(56, 56, 56, 0.966);
    text-align: center;
    padding-top: 30px;      
    margin-top: 15px;
}

.vid-container {
    display: flex;    /*this makes the videos side by side */
    gap: 20px;        /*this spaces between the videos */
    flex-wrap: wrap;    /*this wraps the videos nicely on smaller screen */
    justify-content: center;     /*this centers the videos */
    padding: 30px 0px;
    opacity: 0;         /*this initially hides the videos */
    transition: opacity 0.3s ease;    /*this is for smooth transitioning of the opacity of the videos */
}

.vid-container.scrolled {
    opacity: 1;       /*this makes the videos visible */
    transition: opacity 0.3s ease;    /*this is for smooth transitioning of the opacity of the videos */
}

.vid-container video {
    width: 220px;
    height: auto;      /*this is to maintain the aspect ratio of the videos */
    object-fit: cover;      /*this will cover the max-width I gave */
}

.thank-you {
    text-align:center;
    font-size: 20px;
    line-height: 1.5;    /*this adds space between the paragraphs */
    margin-bottom: 15px;
}
.footer {
    background-color: black;
    color: rgba(255, 255, 255, 0.918);
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    padding: 10px 10px;
}

@media (max-width: 768px) {    /*this is to make the website responsive to different size of screen */
    .header-text h2,
    main h2 {
        font-size: 32px;
    }

    .header-text p {
        font-size: 16px;
    }
}

