/* (*)this means all elements on my html removes default margin and padding */
* {   
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*padding and border are included in the width and height */
    font-family: 'Georgia', serif;       /*this sets all fonts inside my webpage into Georgia and serif for fallback */
    scroll-behavior: smooth; /*this makes the nav bar scroll smooth not just directly going to the specific section of the webpage */
}

body {
    display: flex;
    flex-direction: column;  /*this will stack my contents (header,main.footer) vertically */
    min-height: 100vh; /* This will make the body fill full viewport height */
}

.nav-wrap {
    position: fixed;          /*this sets my nav-bar fixed even if the user scroll down the webpage */
    top: 0;                 /*sticks my nav contents at the top and left of my webpage. */ 
    left: 0;
    z-index: 1001;          /*this ensures that nav-wrap is above nav-bar to activate the hover effect */
    width:100%;         /*this is to make the element as big as its parent */
    background-color: transparent;    /*to remove bg color at start */
    transition: background-color 0.3s;   
    color: black;
}

.nav-wrap.scrolled {
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-wrap.scrolled .nav-right a,
.nav-wrap.scrolled .nav-center h1 a {
    color: black;
}

.nav-wrap:hover {
    background-color: rgba(255, 255, 255, 0.733);        /*this changes the bg color and text color when the user hovers over it */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);         /*this makes the nav-bar mor layered */
    color: black;    
}

.nav-wrap:hover .nav-right a {
    color: black;
}

.nav-wrap:hover .nav-center h1 a {
    color: black;
}

.nav-bar {
    width:100%;         /*this is to make the element as big as its parent */
    max-width: 1200px;  /*this set the max width of the element */
    margin: 0 auto;     /*this makes the top n bottom margin 0 while left and right auto (center) */
    padding: 10px;
    display: flex;      /*this makes the nav bar content side by side */
    justify-content: space-between;       /*this adds space in between of the contents of nav-bar */
    align-items: center;                /*this puts the contents centered */                   
    z-index: 1000;        /*this keep the navbar above the dark overlay */
}

#logo {
    height: 50px;
    width: auto;
}

.nav-left img {
    border-right: 3px solid black;     /*this adds a line beside the image to make it look professionally separated to other contents of the nav-bar */
    padding-right: 35px;              /*this adds a space between the line and the logo */
}

.nav-center h1 a {
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.nav-right a {
    border-left: 3px solid rgba(0, 0, 0, 0.911);     /*this also adds a line beside the links */
    padding-left: 18px;
    color: rgb(0, 0, 0);
    text-decoration: none;          /*this removes the underline from the links */
    margin-right: 20px;
    font-size: 17px;
    font-weight: bold;             /*this makes the text thick */
}

.nav-right a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;       /*this creates a space between the text and the underline */
    text-decoration-thickness: 2px;
}

.main-part {
    flex: 1;   /*this is to make the main content of my products take all the free space of the webpage and push the footer below */
}

.product-container {
    display: flex;             /* this arranges the children (div) side by side */
    flex-direction: row;       /* this is the default value, it ensures a horizontal layout */
    max-width: 1200px;       /*this will prevent a larger than 1200px screen so it will keep the content compact */
    margin-top: 120px;         /* this adjusts margin to create space from nav bar */
    padding-left: 20px;  
} 

.product-images {
    display: flex;
    flex-wrap: wrap;        /*this puts the image that cant fit on the next line */
    gap: 5px; 
    width: 70%;
    height: auto;
}

.product-images img {
    width: 300px;
    height: auto;
    box-sizing: border-box; /* this ensures padding and borders don't break the width */    
    border-radius: 10px;
    border: 2px solid transparent;
    transition: border 0.2s;       /*this adds a smooth tansition */
}

.product-images img:hover {
    border: 2px solid #000;     /*this adds a border when the user hover over the image */
}

.product-details {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 10px;      /* this creates same spacing for the product details */
    margin: 0 5px;  /*this adds space between the images and the details */
}

.product-details h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.product-details p {
    font-size: 16px;
    margin-bottom: 10px;
}

.price {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer {
    background-color: black;
    color: rgba(255, 255, 255, 0.918);
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    padding: 10px 10px;
}

@media (max-width: 750px) {    /*this is to make the website responsive to different size of screen */
    .header-text h2,
    main h2 {
        font-size: 32px;
    }

    .header-text p {
        font-size: 16px;
    }

    .product-container {     /*this changes the container's gap and flex direction for smaller screens making the website responsive*/ 
        flex-direction: column;
        gap: 20px;
    }

    .product-images {
        flex-direction: row;
        flex-wrap: wrap;
    }
}